{% load helpers %}<div class="panel-heading">
    <a data-toggle="collapse" href="#{{table_id}}">
        {{table_title}} ({{bugs|length}} / {{all_open_bugs|length}})
    </a>
</div>
<div id="{{table_id}}" class="panel-body panel-collapse collapse in">
    {% with custom_fields=all_open_bugs|list_custom_fields %}
    <table class="table table-condensed table-striped table-hover table-bordered table-sm sortable break-word open-bugs">
        <thead>
        <tr>
            <th data-visibility='always'>Bug ID</th>
            <th data-visibility='show'>Status</th>
            <th data-visibility='show'>Summary</th>
            <th>Component</th>
            <th>Features</th>
            <th>Platforms</th>
            <th>Tags</th>
            <th>Assignee</th>
            <th data-visibility='show'>Priority</th>
            <th>Severity</th>
            <th data-visibility='show'>Involving (<span class="role_dev">dev</span>, <span class="role_user">user</span>)</th>
            <th>Created</th>
            <th>Last Updated by user</th>
            <th data-visibility='show'>Last Updated by dev</th>
            <th>SLA (days)</th>
            <th data-visibility='show'>SLA deadline</th>
            {% for customkey in custom_fields %}
            <th>Custom: {{customkey}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for bug in bugs %}
        <tr id="{{table_id}}_{{ forloop.counter0 }}">
            <td data-sorttable-customkey="{{bug.short_name}}">
                {% include "CIResults/basic/bug.html" %}:
                <ul>
                {% for issue in bug.issue_set.all %}<li>{% include "CIResults/basic/issue_minimal.html" with issue=issue %}</li>
                {% empty %}<li>No issues associated</li>{% endfor %}
                </ul>

                {% if bug.children.all|length > 0 %}
                Replicated duplicas:
                <ul>
                {% for child in bug.children.all %}<li>{% include "CIResults/basic/bug.html" with bug=child %}</li>
                {% endfor %}
                </ul>
                {% endif %}

                {% if bug.is_being_updated %}
                    <span class="glyphicon glyphicon-hourglass" title="This bug is currently being looked at by someone (expires in {{bug.update_pending_expires_in}})">
                {% else %}
                    <a href="{% url 'CIResults-bug-flag-for-update' bug.id %}" class='btn btn-default' title="Flag the bug as being looked at for the next {{bug.UPDATE_PENDING_TIMEOUT}}" data-confirmation="You are about to mark this bug as being updated for the next {{bug.UPDATE_PENDING_TIMEOUT}}." data-confirmation-reload data-confirmation-msg-on-error="The bug '{{bug}}' appears to have already been locked by someone else!"><span class="glyphicon glyphicon-flag"/></a>
                {% endif %}
            </td>
            <td>{{bug.status}}</td>
            <td>{{bug.title}}</td>
            <td>{{bug.component}}</td>
            <td>{% for feature in bug.features_list %}{{feature}}  {% empty %}No features selected{% endfor %}</ul></td>
            <td>{% for platform in bug.platforms_list %}{{platform}} {% empty %}No platforms selected{% endfor %}</td>
            <td>{% if bug.tags_list|length > 0 %}{{bug.tags_list|join:", "}}{% else %}No tags selected{% endif %}</td>
            <td>{% include "CIResults/basic/account.html" with account=bug.assignee %}</td>
            <td data-sorttable-customkey="{{bug.effective_priority}}">{{bug.priority}}</td>
            <td>{{bug.severity}}</td>
            <td><ol>{% for actor, comments_count in bug.involves.items %}<li>{% include "CIResults/basic/account.html" with account=actor %} ({{comments_count}})</li>{% endfor %}</ol></td>
            <td data-sorttable-customkey="{{bug.created|date:'U'}}">{{bug.created}}</td>
            <td>{{bug.last_updated_by_user|howlongago}}</td>
            <td>{{bug.last_updated_by_developer|howlongago}}</td>
            <td>{{bug.SLA.days}}</td>
            <td data-sorttable-customkey="{{bug.SLA_remaining_time.days}}">{{bug.SLA_remaining_str|title}}</td>
            {% for customkey in custom_fields %}
            <td>{{bug.custom_fields|lookup:customkey}}</td>
            {% endfor %}
        </tr>
        {% empty %}
        <tr><td colspan="14" style="text-align: center;">No bugs found</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endwith %}
</div>
