{% extends 'CIResults/base.html' %}
{% load static %}

{% block title %}Replication Script{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/replication.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/addon/display/fullscreen.css"/>
  <div class="main_body container-fluid">
    <div id="help_modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Script API</h4>
          </div>
          <div id="help_modal_body" class="modal-body">
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            {% if 'create' in request.resolver_match.view_name %}
              Create ReplicationScript
            {% else %}
              Edit ReplicationScript
            {% endif %}
        </div>
      <div class="panel-body">
        <div class="container-fluid">
          <form method="post">{% csrf_token %}
            <div class="row">
              <div class="col-xs-4">
                  <div class="fieldWrapper">
                    {% for field in form %}
                      <div class="row">
                        <div class="col">
                          {{ field.errors }}
                          {{ field.label_tag }} {{ field }}
                        </div>
                      </div>
                    {% endfor %}
                    <div class="btn-toolbar" role="group">
                      <button type="button" data-target="#help_modal" id="view_api" class="btn btn-secondary mr-1" data-toggle="modal">View Script API</button>
                      <label type="button" class="btn btn-default btn-file">
                        Import Script<input id="script_file" type="file" style="display: none;">
                      </label>
                      <label type="submit" class="btn btn-default">
                        Export Script<input id="script_file_save" style="display: none;">
                      </label>
                    </div>
                  </div>
                </div>
              <div class="col-xs-8">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li><a data-toggle="tab" href="#bt_svd_wrapper">Saved Script Result</a></li>
                  <li class="active"><a data-toggle="tab" href="#bt_res_wrapper">Edited Script Result</a></li>
                </ul>
                <div class="panel panel-default" style="height:75vh;overflow-y:scroll;">
                  <div class="tab-content">
                    <div id="bt_svd_wrapper" class="table-responsive tab-pane" style="overflow:visible;">
                      <table id="bug_table_saved" class="table table-striped" style="white-space:nowrap;">
                        <thead>
                          <tr>
                            <th scope="col">Source Bug ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Title</th>
                            <th scope="col">Priority/Severity</th>
                            <th scope="col">Replication Operation</th>
                            <th scope="col">Fields to Set</th>
                            <th scope="col">Comments to Add</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                    <div id="bt_res_wrapper" class="table-responsive tab-pane active" style="overflow:visible;">
                      <table id="bug_table_res" class="table table-striped" style="white-space:nowrap;">
                        <thead>
                          <tr>
                            <th scope="col">Source Bug ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Title</th>
                            <th scope="col">Priority/Severity</th>
                            <th scope="col">Replication Operation</th>
                            <th scope="col">Fields to Set</th>
                            <th scope="col">Comments to Add</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
		<button id="get_table" type="button" class="btn btn-primary ladda-button" data-size="s" data-color="blue" data-style="expand-right"><span class="ladda-label">Check Script Result</span></button>
		<button id="save_btn" type="submit" class="btn btn-primary mb-2 save_btn">Save</button>
              </div>
              <script>
		$(document).ready(function(){
                var token = '{{ csrf_token }}'
		  var l = Ladda.create($("#get_table")[0]);
                  url = '{% url "CIResults-replication-script-check" %}'
                  $("<p>Press 'F11' in editor to toggle fullscreen editing</p>").insertAfter($("#{{ form.script.auto_id}}"))
                  script_box = $("#{{ form.script.auto_id}}")[0]
                  var editor = python_editor(script_box)

                  // Check if we are creating or editing script
                  if ("{{ object }}") {
                    svd_scr = "{{ object.script|escapejs }}"
                    svd_src_tracker = "{{ object.source_tracker }}"
                    svd_dest_tracker = "{{ object.destination_tracker }}"

                    check_script(svd_scr, svd_src_tracker, svd_dest_tracker, "#bug_table_saved", url, l, token)
                  } else {
                    $('.nav-tabs a[href="#bt_svd_wrapper"]').hide()
                    $('.nav-tabs a[href="#bt_res_wrapper"]').text("Script Result")
                    editor.setValue(dummy_script)
                  }

                  setup_import_script("#script_file", editor)
		  setup_export_script("#script_file_save", editor, "replication_script.py")

                  $("#view_api").click(function(){
                    $("#help_modal_body").html("{{ form.script.help_text|escapejs }}")
                  })
                  $("#get_table").click(function(){
                    $("#rep_check_res").show()
		    $("#bug_table_res > tbody").empty()
                    scr = editor.getValue()
                    src_selection = $("#{{ form.source_tracker.auto_id }} option:selected")
                    dest_selection = $("#{{ form.destination_tracker.auto_id }} option:selected")
                    if (src_selection.index() < 1) {
                      alert("Please select a source tracker")
                      $("#rep_check_res").hide()
                      return
                    }
                    if (dest_selection.index() < 1) {
                      alert("Please select a destination tracker")
                      $("#rep_check_res").hide()
                      return
                    }
                    src_tracker = src_selection.text()
                    dest_tracker = dest_selection.text()
		    check_script(scr, src_tracker, dest_tracker, "#bug_table_res", url, l, token)

                  })
                  editor.on('change', (function(){
                    $("#save_btn").hide()
                  }))
                })
              </script>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="{% static 'js/replication.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5/addon/display/fullscreen.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5/mode/python/python.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.jquery.min.js"></script>
{% endblock %}
