{% extends 'CIResults/base.html' %}

{% block title %}Results list{% endblock %}

{% block content %}
    {% block information %}{% endblock %}

    {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=query.model %}

    {% if results|length > 0 %}
    {% include "CIResults/basic/results_chart.html" with panel_title="Chart of the listed results (current page)" %}
    {% endif %}

    <div class="panel panel-default panel-info" >
        <div class="panel-heading">Results list ({% if page_obj is not None %}{{ page_obj.paginator.count }}{% else %}{{results|length}}{% endif %})</div>
        <div id="unknown_failures-body" class="panel-body">
            <div class="form-inline column-selector" data-table-class='test-results' data-table-downloadable-as='results.csv'></div>
            <table class="table table-striped table-hover table-bordered table-sm sortable test-results">
                <thead>
                    <tr>
                        <th data-visibility='always'>Test</th>
                        <th data-visibility='show'>Machine</th>
                        <th data-visibility='show'>Result / Status</th>
                        <th data-visibility='show'>Duration (s)</th>
                        <th data-visibility='show'>Run Config (age)</th>
                        <th data-visibility='show'>Matched issue/filter (if any)</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{% include "CIResults/basic/test.html" with test=result.test %}</td>
                        <td>{% include "CIResults/basic/machine.html" with machine=result.ts_run.machine %}</td>
                        <td>{% include "CIResults/basic/testresult.html" with testresult=result %}</td>
                        <td>{{result.duration}}</td>
                        <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=result.ts_run.runconfig %}</td>
                        <td><ul>{% for failure in result.known_failures.all %}<li>{% include "CIResults/basic/issue.html" with issue=failure.matched_ifa.issue %} - {% include "CIResults/basic/ifa.html" with ifa=failure.matched_ifa %}</li>
                        {% empty %}<li>None</li>{% endfor %}</ul></td>
                    </tr>
                {% empty %}
                <tr><td colspan="6"><center>No results found or empty query</center></td></tr>
                {% endfor %}
                </tbody>
            </table>

            {% if not results|length == 0 %}{% include "CIResults/basic/paginator.html" %}{% endif %}
        </div>
    </div>
    {% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
